@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(8,103,56);
    background: linear-gradient(90deg, rgba(8,103,56,1) 0%, rgba(0,0,0,1) 59%, rgba(8,103,56,1) 100%);
}
.navbar{
font-family: 'Noto Sans', sans-serif;
}
.navbar ul{
display:flex;
list-style-type: none;
align-items: center;
height: 55px;
background-color: black;
color: white;
}
.navbar ul li{
    padding: 0px 12px;
}
.logo img{
    width:50px;
   
    
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
    margin-right: 20px;
}
.container{
    min-height:75vh;
    /* 75%ofheight */
    background-color: black;
    color: black;
    margin: 25px auto;
    width:60vw;
    padding:15px 15px;
    border-radius: 10px;
    background-image: url('6140187.jpg');
    background-size: cover;

}
.bottom{
    height: 75px;
    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
margin-top: 5px;
}
.icons i{
    cursor: pointer;
}
#prog{
    width: 80vw;

}
.songitem{
    height:50px;
    display: flex;
    background-color: black;
    width:50%;
    color: white;
    margin: 12px 0px; 
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border

}
.songitem img{
    width:35px;
    margin:0 20px;
}
.timest{
    margin: 0 15px;
}